<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.error">
        <app-content-error class="block h-screen/2-s"></app-content-error>
    </ng-container>
    <ng-container *ngIf="vm.loading">
        <app-content-loading class="block h-screen/2-s"></app-content-loading>
    </ng-container>
    <ng-container *ngIf="!vm.loading && !vm.error">
        <ng-container *ngIf="vm.profile as profile">
            <div class="flex">
                <div class="basis-1/4 mr-3">
                    <img
                        class="object-center object-cover"
                        loading="lazy"
                        alt="{{ profile.name }} Logo"
                        src="{{ profile.logo }}"
                    />
                    <div class="p-5">
                        <h1 class="text-4xl mb-4">{{ profile.name }}</h1>
                        <p class="mb-2">{{ profile.address }}</p>
                        <p class="mb-4">
                            <a href="tel:{{ profile.phone }}">{{ profile.phone }}</a>
                        </p>
                        <div class="mb-4">
                            <a href="mailto:{{ profile.email }}">Email</a>
                            <a target="_blank" href="{{ profile.linkedin }}">LinkedIn</a>
                            <a target="_blank" href="{{ profile.kununu }}">Kununu</a>
                        </div>
                        <div>
                            <h2 class="text-2xl mb-3">Jobs Offered</h2>
                            <p>{{ profile.jobtypes }}</p>
                        </div>
                    </div>
                </div>
                <div class="basis-3/4 ml-3">
                    <div class="p-5">
                        <h2 class="text-2xl mb-2">About</h2>
                        <p>{{ profile.mission }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="p-5">
                        <h2 class="text-2xl mb-2">Values</h2>
                        <p>{{ profile.values }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="p-5">
                        <h2 class="text-2xl mb-2">Expectations We Offer</h2>
                        <p>{{ profile.expectation }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
