<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.error">
        <app-content-error class="block h-screen/2-s"></app-content-error>
    </ng-container>
    <ng-container *ngIf="vm.loading">
        <app-content-loading class="block h-screen/2-s"></app-content-loading>
    </ng-container>
    <ng-container *ngIf="!vm.loading && !vm.error">
        <ng-container *ngIf="vm.profile as profile">
            <ng-container *ngIf="true | isAuthorized: userKindEnum.ADMIN | async">
                <a [routerLink]="['/admin', 'companies', profile.id, 'edit']" class="float-right btn">Edit</a>
            </ng-container>
            <div class="md:flex">
                <div class="basis-1/4 md:mr-5">
                    <img
                        class="object-center object-cover"
                        loading="lazy"
                        [alt]="profile.logo?.name || 'logo'"
                        [src]="profile.logo?.url || 'assets/profile-picture-default-form.png'"
                    />
                    <div class="p-5">
                        <h1 class="text-4xl mb-4">{{ profile.name }}</h1>
                        <p class="mb-4">{{ profile.address }}</p>
                        <p class="mb-6">
                            <a [href]="'tel:' + profile.contactPhone" rel="noreferrer noopener">
                                <fa-icon [icon]="faPhone"></fa-icon>
                                {{ profile.contactPhone }}
                            </a>
                        </p>
                        <div class="my-8 flex">
                            <a class="basis-1/3 text-center" [href]="'mailto:' + profile.contactEmail">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                                <span class="block">Email</span>
                            </a>
                            <a
                                *ngIf="profile.linkedinUrl"
                                [href]="profile.linkedinUrl"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="basis-1/3 text-center"
                            >
                                <fa-icon [icon]="faExternalLink"></fa-icon>
                                <span class="block">LinkedIn</span>
                            </a>
                            <a
                                *ngIf="profile.kununuUrl"
                                [href]="profile.kununuUrl"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="basis-1/3 text-center"
                            >
                                <fa-icon [icon]="faExternalLink"></fa-icon>
                                <span class="block">Kununu</span>
                            </a>
                        </div>
                        <div>
                            <h2 class="text-2xl mb-3">Jobs Offered</h2>
                            <p>{{ profile.jobTypes }}</p>
                        </div>
                    </div>
                </div>
                <div class="basis-3/4 md:ml-5">
                    <div class="p-5">
                        <h2 class="text-2xl mb-4">About</h2>
                        <p>{{ profile.mission }}</p>
                    </div>
                    <div class="divider"></div>
                    <ng-container *ngIf="vm.jobs">
                        <div class="p-5">
                            <h2 class="text-2xl mb-6">Job Openings</h2>
                            <div
                                class="grid md:grid-cols-2 2xl:grid-cols-3 grid-rows-auto-[minmax(min-content-15rem)] gap-x-2 gap-y-8 justify-items-center"
                            >
                                <app-job-card
                                    *ngFor="let item of $any(vm.jobs!.items!)"
                                    [job]="item"
                                    class="max-w-xs w-full relative"
                                ></app-job-card>
                            </div>
                            <p class="text-center mt-8 underline"><a href="/jobs">View more</a></p>
                        </div>
                        <div class="divider"></div>
                    </ng-container>
                    <div class="p-5">
                        <h2 class="text-2xl mb-4">Values</h2>
                        <p>{{ profile.values }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="p-5">
                        <h2 class="text-2xl mb-4">Expectations We Offer</h2>
                        <p>{{ profile.expectation }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
