<div class="mx-auto max-w-screen-sm text-center p-5">
    <h1
        class="mb-4 text-5xl tracking-tight font-extrabold lg:text-7xl text-primary-600 dark:text-primary-500 empty:hidden"
    >
        {{ titleText }}
    </h1>
    <p class="mb-4 text-2xl tracking-tight font-bold text-gray-900 md:text-3xl dark:text-white">
        Something's went wrong!
    </p>
    <p class="mb-4 text-md font-light text-gray-500 dark:text-gray-400">
        Please try again later or contact the support.
    </p>
</div>
