{
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "arrowParens": "always",
    "printWidth": 120,
    "importOrder": [
        "^@angular/(.*)$",
        "^@ngrx/(.*)$",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": true
}
