<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.error"> Error...</ng-container>
    <ng-container *ngIf="vm.loading"> Loading...</ng-container>
    <ng-container *ngIf="!vm.loading && !vm.error">
        <app-users-filters class="mb-4"></app-users-filters>
        <div
            *ngIf="vm.list?.items?.length; else emptyContainer"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 justify-items-center p-4"
        >
            <app-user-card
                *ngFor="let item of vm.list!.items!"
                [user]="item"
                [mode]="vm.mode"
                class="max-w-xs"
            ></app-user-card>
        </div>
        <ng-template #emptyContainer> Empty...</ng-template>
    </ng-container>
</ng-container>
