<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.error">
        <app-content-error class="block h-screen/2-s"></app-content-error>
    </ng-container>
    <ng-container *ngIf="vm.loading">
        <app-content-loading class="block h-screen/2-s"></app-content-loading>
    </ng-container>
    <ng-container *ngIf="!vm.loading && !vm.error">
        <div class="px-9 py-4">
            <input
                *appLet="searchTerm$ | async as searchTerm"
                type="search"
                placeholder="Search"
                class="input input-bordered input-sm rounded w-full sm:w-80"
                [class.input-error]="searchTerm.length && searchTerm.length < 3"
                [ngModel]="searchTerm"
                (ngModelChange)="onSearchTermChange($event)"
            />
        </div>
        <div
            class="grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 grid-rows-auto-[20rem] gap-x-4 gap-y-8 justify-items-center p-4"
        >
            <ng-container *ngIf="vm.list?.items?.length">
                <app-association-card
                    *ngFor="let item of $any(vm.list!.items!)"
                    [association]="item"
                    class="max-w-xs"
                ></app-association-card>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
