<ng-container *ngIf="vm$ | async as vm">
    <form (ngSubmit)="onSubmit()">
        <app-user-form-generic #childFormEl [singleColumn]="true"></app-user-form-generic>
        <div class="sticky flex flex-col bottom-0 pb-4 bg-base-100 w-full">
            <div class="divider mt-0"></div>
            <button
                type="submit"
                class="btn btn-primary ml-auto"
                [disabled]="!childForm || childForm.invalid || vm.submitting"
            >
                Setup
            </button>
        </div>
    </form>
</ng-container>
