<fieldset
    id="companies-field"
    class="flex flex-col sm:flex-row sm:items-center gap-y-1 gap-x-4 w-full my-4"
    *appLet="companyIdForm as control"
>
    <label for="companies" class="text-lg"> Select the user company<span class="text-red-400">*</span>: </label>
    <app-select-single
        id="companies"
        [control]="control"
        [options]="companies$ | async"
        [searchKeys]="['name']"
        bindValue="id"
        bindLabel="name"
    ></app-select-single>
    <span class="text-error mt-1" *ngIf="control.invalid && control.touched">
        {{ control.errors | formErrorMessage }}
    </span>
</fieldset>
<app-create-user-generic></app-create-user-generic>
