<fieldset
    id="companies-field"
    class="flex flex-col sm:flex-row sm:items-center gap-y-1 gap-x-4 w-full my-4"
    *appLet="companyIdForm as control"
>
    <label for="companies" class="text-lg"> Select the user company<span class="text-red-400">*</span>: </label>
    <div class="dropdown flex-grow">
        <input
            #searchCompanyInput
            type="text"
            id="companies"
            name="companies"
            class="input input-bordered w-full"
            [formControl]="searchCompanyForm"
            [class.input-error]="
                (control.invalid && control.touched) || (searchCompanyForm.invalid && searchCompanyForm.touched)
            "
            (keyup.escape)="searchCompanyInput.blur()"
            (change)="onDeselectCompany()"
        />
        <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-300 rounded-box max-h-[32rem] overflow-auto flex-nowrap w-full"
            *appLet="companies$ | async as companies"
        >
            <cdk-virtual-scroll-viewport itemSize="20" class="h-72">
                <li *cdkVirtualFor="let result of companies | filterFuse: searchCompanyForm.valueChanges : ['name']">
                    <button type="button" (click)="onSelectCompany(result.item); searchCompanyInput.focus()">
                        {{ result.item.name }}
                    </button>
                </li>
            </cdk-virtual-scroll-viewport>
        </ul>
    </div>
    <span class="text-error mt-1" *ngIf="control.invalid && control.touched">
        {{ control.errors | formErrorMessage }}
    </span>
</fieldset>
<app-create-user-generic></app-create-user-generic>
