<div class="flex flex-wrap-reverse items-center justify-between gap-10 p-4">
    <div class="flex flex-wrap md:flex-nowrap gap-4">
        <label class="flex items-center gap-2" *ngFor="let userKind of userKindsOptions$ | async">
            <span>{{ userKind.label | userKindLabel }}</span>
            <input
                type="checkbox"
                class="checkbox checkbox-sm"
                [ngModel]="userKind.value"
                (ngModelChange)="onKindChange(userKind.label)"
            />
        </label>
    </div>
    <div class="flex align-middle gap-4 ml-auto">
        <button class="ml-5 mr-1" (click)="onDetailedModeChange()">
            <fa-icon [icon]="faEye"></fa-icon>
        </button>
        <input
            *appLet="searchTerm$ | async as searchTerm"
            type="search"
            placeholder="Search"
            class="input input-bordered input-sm rounded w-full sm:w-80"
            [class.input-error]="searchTerm.length && searchTerm.length < 3"
            [ngModel]="searchTerm"
            (ngModelChange)="onSearchTermChange($event)"
        />
    </div>
</div>
