<ul
    class="menu flex flex-col flex-nowrap gap-2 px-3 pb-4 font-medium text-lg h-full"
    [ngClass]="{ 'sm:menu-horizontal sm:flex-col': !expanded }"
>
    <li>
        <a
            [routerLink]="['/dashboard']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Dashboard"
        >
            <fa-icon [icon]="faChartLine" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Dashboard</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'invitations']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Invitations"
        >
            <fa-icon [icon]="faEnvelope" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Invitations</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/associations']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Associations"
        >
            <fa-icon [icon]="faSitemap" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Associations</span>
        </a>
    </li>
    <li>
        <details [open]="!expanded ? false : undefined" (click)="$event.stopPropagation()">
            <summary
                #toggleEl
                class="flex"
                [ngClass]="{
                    'tooltip tooltip-right after:hidden sm:justify-center active': !expanded,
                    'mb-1': expanded
                }"
                data-tip="Companies"
            >
                <a class="flex gap-2 mr-auto" [routerLink]="['/admin', 'companies']" *ngIf="expanded">
                    <fa-icon [icon]="faBuilding" class="text-center w-6" />
                    <span class="ml-1 truncate">Companies</span>
                </a>
                <fa-icon *ngIf="!expanded" [icon]="faBuilding" class="text-center w-6" />
            </summary>
            <ul tabindex="0" [ngClass]="{ 'top-[-1rem] left-16': !expanded }" (click)="!expanded && toggleEl.click()">
                <li class="mb-1">
                    <a
                        class="flex flex-nowrap gap-2"
                        [routerLink]="['/companies']"
                        routerLinkActive="link-active text-base-100 bg-primary"
                        [ngClass]="{ 'tooltip tooltip-right': !expanded }"
                        data-tip="Companies Profile"
                    >
                        <fa-icon [icon]="faList" class="text-center w-6" />
                        <span class="ml-1 truncate">List</span>
                    </a>
                </li>
                <li>
                    <a
                        class="flex flex-nowrap gap-2"
                        [routerLink]="['/jobs']"
                        routerLinkActive="link-active text-base-100 bg-primary"
                        [ngClass]="{ 'tooltip tooltip-right': !expanded }"
                        data-tip="Job listings"
                    >
                        <fa-icon [icon]="faSheetPlastic" class="text-center w-6" />
                        <span class="ml-1 truncate">Jobs</span>
                    </a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'users']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Users"
        >
            <fa-icon [icon]="faUser" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Users</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'training']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Training"
        >
            <fa-icon [icon]="faBrain" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Training</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'help-center']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Help Center"
        >
            <fa-icon [icon]="faCircleInfo" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Help Center</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'requests']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Requests"
        >
            <fa-icon [icon]="faListCheck" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Requests</span>
        </a>
    </li>
    <li>
        <a
            [routerLink]="['/admin', 'variables']"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Variables"
        >
            <fa-icon [icon]="faList" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Variables</span>
        </a>
    </li>
    <li class="mt-auto" *ngIf="showExpanded">
        <button
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Toggle navigation"
            (click)="expandedChange.emit(!expanded)"
        >
            <fa-icon [icon]="expanded ? faSquareCaretLeft : faSquareCaretRight" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Toggle navigation</span>
        </button>
    </li>
</ul>
