<a class="card w-full h-full bg-base-200 shadow-xl" [routerLink]="['.', association.id]">
    <figure class="relative h-40">
        <img [src]="association.logo" alt="{{ association.name }}" class="object-center object-cover" loading="lazy" />
    </figure>
    <div class="card-body relative">
        <h2 class="card-title">{{ association.name }}</h2>
        <p class="break-all">
            <a target="_blank" href="{{ association.url }}">{{ association.url }}</a>
        </p>
    </div>
</a>
<ng-container *ngIf="isUserAdmin">
    <div class="flex gap-2 absolute top-2 right-2 text-gray-800 dark:text-white">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="text-lg drop-shadow-md cursor-pointer px-2">
                <fa-icon [icon]="faEllipsisV" class="text-lg drop-shadow-md"></fa-icon>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <button
                        [ngClass]="{ 'btn-disabled opacity-50 cursor-not-allowed': disableDeleteAction }"
                        [disabled]="disableDeleteAction"
                        (click)="deleteConfirmation.show()"
                    >
                        Delete
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <dialog class="modal" #deleteConfirmation tabindex="0" (keyup.escape)="deleteConfirmation.close()">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Are you sure?</h3>
            <p class="py-4">If you delete {{ association.name }} there is no way to revert the action.</p>
            <div class="modal-action">
                <form method="dialog" class="flex gap-2">
                    <button
                        type="button"
                        class="btn btn-primary basis-16"
                        (click)="onDelete(); deleteConfirmation.close()"
                    >
                        Yes
                    </button>
                    <button class="btn basis-16">No</button>
                </form>
            </div>
        </div>
    </dialog>
</ng-container>
