<div class="flex gap-1">
    <span
        class="badge text-neutral badge-md"
        [class.bg-warning]="kind === userKindEnum.ADMIN"
        [class.bg-secondary]="kind === userKindEnum.CANDIDATE"
        [class.bg-info]="kind === userKindEnum.COMPANY"
        [class.bg-accent]="kind === userKindEnum.ASSOCIATION"
    >
        {{ kind | userKindLabel }}
    </span>
    <span class="badge bg-gray-400 text-base-100 badge-md" *ngIf="kind === userKindEnum.COMPANY">
        {{ role! | userCompanyRoleLabel }}
    </span>
    <span class="badge bg-gray-400 text-base-100 badge-md" *ngIf="kind === userKindEnum.ASSOCIATION">
        {{ role! | userAssociationRoleLabel }}
    </span>
</div>
