<div class="flex flex-col items-center justify-center h-screen">
    <h2 class="text-3xl">Send an invitation</h2>
    <form (ngSubmit)="onSubmit()">
        <fieldset id="role" class="flex justify-center w-full my-4">
            <div class="mr-4 inline-block">
                <input
                    id="candidate"
                    type="radio"
                    value="Candidate"
                    name="role"
                    [(ngModel)]="role"
                    class="radio relative float-left"
                />
                <label for="candidate" class="inline-block pl-[0.5rem] hover:cursor-pointer">Candidate</label>
            </div>
            <div class="mr-4 inline-block">
                <input
                    id="company"
                    type="radio"
                    value="Company"
                    name="role"
                    [(ngModel)]="role"
                    class="radio relative float-left"
                />
                <label class="inline-block pl-[0.5rem] hover:cursor-pointer" for="company">Company</label>
            </div>
            <div class="mr-4 inline-block">
                <input
                    id="company-user"
                    type="radio"
                    value="Company User"
                    name="role"
                    [(ngModel)]="role"
                    class="radio relative float-left"
                />
                <label for="company-user" class="inline-block pl-[0.5rem] hover:cursor-pointer">Company User</label>
            </div>
            <div class="mr-4 inline-block">
                <input
                    id="association"
                    type="radio"
                    value="Association"
                    name="role"
                    [(ngModel)]="role"
                    class="radio relative float-left"
                />
                <label for="association" class="inline-block pl-[0.5rem] hover:cursor-pointer">Association</label>
            </div>
            <div class="mr-4 inline-block">
                <input
                    id="association-user"
                    type="radio"
                    value="Association User"
                    name="role"
                    [(ngModel)]="role"
                    class="radio relative float-left"
                />
                <label for="association-user" class="inline-block pl-[0.5rem] hover:cursor-pointer"
                    >Association User</label
                >
            </div>
        </fieldset>
        <fieldset id="edit-email" class="form-control w-full my-4">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" class="input-bordered" />
        </fieldset>
        <fieldset id="edit-subject" class="form-control w-full my-4">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" [(ngModel)]="subject" class="input-bordered" />
        </fieldset>
        <fieldset id="edit-message" class="form-control w-full my-4">
            <label for="message">Message:</label>
            <textarea id="message" name="message" [(ngModel)]="message" rows="5" class="input-bordered"></textarea>
        </fieldset>
        <button class="btn btn-primary btn-wide float-right" type="submit">Send</button>
    </form>
</div>
