.h-screen-s {
    height: 100svh;
    height: 100vh;
}

.h-screen\/2-s {
    height: 50svh;
    height: 50vh;
}

.inset-center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.grid-rows-auto-\[minmax\(min-content-20rem\)\] {
    grid-auto-rows: minmax(min-content, 20rem);
}

.col-end-\[-1\] {
    grid-column-end: -1;
}

.grid-cols-\[auto-1fr\] {
    grid-template-columns: auto minmax(0, 1fr);
}

@media (min-width: 768px) {
    .md\:grid-cols-\[auto-1fr\] {
        grid-template-columns: auto minmax(0, 1fr);
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-\[20rem-1fr\] {
        grid-template-columns: 20rem 1fr;
    }
}
