.h-screen-s {
    height: 100svh;
    height: 100vh;
}

.h-screen\/2-s {
    height: 50svh;
    height: 50vh;
}

.inset-center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.grid-rows-auto-\[20rem\] {
    grid-auto-rows: 20rem;
}
