<ng-container [formGroup]="form">
    <fieldset id="company-name" class="md:flex md:items-start w-full my-4" *appLet="form.controls.name as control">
        <label for="name" class="md:w-1/4">Company Name:</label>
        <div class="md:w-3/4">
            <input
                type="text"
                id="name"
                name="name"
                formControlName="name"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset
        id="company-address"
        class="md:flex md:items-start w-full my-4"
        *appLet="form.controls.address as control"
    >
        <label for="address" class="md:w-1/4">Address:</label>
        <div class="md:w-3/4">
            <input
                type="text"
                id="address"
                name="address"
                formControlName="address"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset id="company-logo" class="md:flex md:items-start w-full my-4" *appLet="form.controls.logo as control">
        <label for="logo" class="md:w-1/4">Logo:</label>
        <div class="md:w-3/4">
            <input
                type="file"
                accept="image/*"
                id="logo"
                name="logo"
                class="w-full file-input file-input-ghost file-input-bordered"
                [class.input-error]="control.invalid && control.touched"
                (change)="onFileSelected($event)"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
            <div class="w-full h-72 mt-8 mb-4">
                <img
                    [src]="imageURL$ | async"
                    class="h-full aspect-square object-center object-cover rounded"
                    alt="profile-picture"
                />
            </div>
        </div>
    </fieldset>
    <fieldset
        id="company-linkedin"
        class="md:flex md:items-start w-full my-4"
        *appLet="form.controls.linkedin as control"
    >
        <label for="linkedin" class="md:w-1/4">LinkedIn URL:</label>
        <div class="md:w-3/4">
            <input
                type="text"
                id="linkedin"
                name="linkedin"
                formControlName="linkedin"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset id="company-kununu" class="md:flex md:items-start w-full my-4" *appLet="form.controls.kununu as control">
        <label for="kununu" class="md:w-1/4">Kununu URL:</label>
        <div class="md:w-3/4">
            <input
                type="text"
                id="kununu"
                name="kununu"
                formControlName="kununu"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset id="company-phone" class="md:flex md:items-start w-full my-4" *appLet="form.controls.phone as control">
        <label for="phone" class="md:w-1/4">Phone Number:</label>
        <div class="md:w-3/4">
            <input
                type="text"
                id="phone"
                name="phone"
                formControlName="phone"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset id="company-email" class="md:flex md:items-start w-full my-4" *appLet="form.controls.email as control">
        <label for="email" class="md:w-1/4">Email:</label>
        <div class="md:w-3/4">
            <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                class="w-full input input-bordered"
                [class.input-error]="control.invalid && control.touched"
            />
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset
        id="company-mission"
        class="md:flex md:items-start w-full my-4"
        *appLet="form.controls.mission as control"
    >
        <label for="mission" class="md:w-1/4">Company Mission:</label>
        <div class="md:w-3/4">
            <textarea
                id="mission"
                name="mission"
                formControlName="mission"
                rows="5"
                class="w-full textarea textarea-bordered resize-y"
                [class.textarea-error]="control.invalid && control.touched"
            ></textarea>
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset id="company-values" class="md:flex md:items-start w-full my-4" *appLet="form.controls.values as control">
        <label for="values" class="md:w-1/4">Company Values:</label>
        <div class="md:w-3/4">
            <textarea
                id="values"
                name="values"
                formControlName="values"
                rows="5"
                class="w-full textarea textarea-bordered resize-y"
                [class.textarea-error]="control.invalid && control.touched"
            ></textarea>
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset
        id="company-jobtypes"
        class="md:flex md:items-start w-full my-4"
        *appLet="form.controls.jobtypes as control"
    >
        <label for="jobtypes" class="md:w-1/4">Job Types:</label>
        <div class="md:w-3/4">
            <textarea
                id="jobtypes"
                name="jobtypes"
                formControlName="jobtypes"
                rows="5"
                class="w-full textarea textarea-bordered resize-y"
                [class.textarea-error]="control.invalid && control.touched"
            ></textarea>
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
    <fieldset
        id="company-expectation"
        class="md:flex md:items-start w-full my-4"
        *appLet="form.controls.expectation as control"
    >
        <label for="expectation" class="md:w-1/4">Expectations we offer:</label>
        <div class="md:w-3/4">
            <textarea
                id="expectation"
                name="expectation"
                formControlName="expectation"
                rows="5"
                class="w-full textarea textarea-bordered resize-y"
                [class.textarea-error]="control.invalid && control.touched"
            ></textarea>
            <span class="w-full text-error mt-1" *ngIf="control.invalid && control.touched">{{
                control.errors | formErrorMessage
            }}</span>
        </div>
    </fieldset>
</ng-container>
