<ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.error">
        <app-content-error class="block h-screen/2-s"></app-content-error>
    </ng-container>
    <ng-container *ngIf="vm.loading">
        <app-content-loading class="block h-screen/2-s"></app-content-loading>
    </ng-container>
    <ng-container *ngIf="!vm.loading && !vm.error">
        <ng-container *ngIf="vm.profile as profile">
            <div>
                <div class="flex mb-4">
                    <div class="basis-1/4 flex-1 mr-4">
                        <img
                            class="object-center object-cover"
                            loading="lazy"
                            alt="{{ profile.name }} Logo"
                            src="{{ profile.logo }}"
                        />
                    </div>
                    <div class="basis-3/4 flex-1">
                        <h1 class="text-3xl mb-3">{{ profile.name }}</h1>
                        <p class="mb-2">
                            <a href="{{ profile.websiteUrl }}" target="_blank">{{ profile.websiteUrl }}</a>
                        </p>
                    </div>
                </div>
                <div class="divide-y divide-gray-700">
                    <div class="py-2">
                        <h2 class="text-xl mb-1">Association's Focus</h2>
                        <p>{{ profile.focus }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
