<ul
    *ngIf="items$ | async as items"
    class="menu flex flex-col flex-nowrap gap-2 px-3 pb-4 font-medium text-lg h-full"
    [ngClass]="{ 'sm:menu-horizontal sm:flex-col': !expanded }"
>
    <li *ngFor="let item of items">
        <a
            [routerLink]="item.route"
            routerLinkActive="text-base-100 bg-primary"
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            [attr.data-tip]="item.label"
        >
            <fa-icon [icon]="item.icon" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">{{ item.label }}</span>
        </a>
    </li>
    <li class="mt-auto" *ngIf="showExpanded">
        <button
            [ngClass]="{ 'tooltip tooltip-right': !expanded }"
            data-tip="Toggle navigation"
            (click)="expandedChange.emit(!expanded)"
        >
            <fa-icon [icon]="expanded ? faSquareCaretLeft : faSquareCaretRight" class="text-center w-6" />
            <span *ngIf="expanded" class="ml-1 truncate">Toggle navigation</span>
        </button>
    </li>
</ul>
