<a
    class="card w-full h-full bg-base-200 shadow-xl"
    [class.opacity-60]="user.state === userStateEnum.ANONYMOUS"
    [class.opacity-30]="user.state === userStateEnum.DELETED"
    [class.cursor-not-allowed]="user.state !== userStateEnum.ACTIVE"
    [class.pointer-events-none]="user.state !== userStateEnum.ACTIVE"
    [routerLink]="['.', user.id]"
>
    <div class="card-body px-8 pt-12 pb-8 flex flex-row gap-4 relative">
        <picture class="w-20 h-20 rounded-full overflow-hidden flex shrink-0">
            <img
                [src]="user.imageUrl || 'assets/profile-picture-default-form.png'"
                alt="avatar"
                class="object-center object-cover"
                loading="lazy"
            />
        </picture>
        <div class="grid grid-rows-[auto_1fr_auto] items-start p-4">
            <div class="card-title block truncate">
                {{ user.preferredName || user.firstName + ' ' + user.lastName }}
            </div>
            <span class="break-all text-primary min-h-16 mb-4">{{ user.email }}</span>
            <app-user-badges [kind]="user.kind" [role]="user.role"></app-user-badges>
        </div>
    </div>
</a>

<div class="card-body absolute inset-0 bg-base-100 bg-opacity-90 pr-3" *ngIf="mode === 'detailed'">
    <app-description-list class="overflow-auto">
        <app-item size="sm">
            <ng-container data-selector="header">ID</ng-container>
            <a [routerLink]="['.', user.id]" class="text-xs drop-shadow-md">
                {{ user.id }}
                <fa-icon [icon]="faExternalLink" class="ml-2"></fa-icon>
            </a>
        </app-item>
        <app-item size="sm">
            <ng-container data-selector="header">Kind</ng-container>
            {{ user.kind | userKindLabel }}
            <ng-container *ngIf="user.kind === userKindEnum.COMPANY">
                | {{ user.role! | userCompanyRoleLabel }}
            </ng-container>
            <ng-container *ngIf="user.kind === userKindEnum.ASSOCIATION">
                | {{ user.role! | userAssociationRoleLabel }}
            </ng-container>
        </app-item>
        <app-item size="sm">
            <ng-container data-selector="header">Email</ng-container>
            {{ user.email }}
        </app-item>
        <ng-container *ngIf="user.kind === userKindEnum.CANDIDATE" ngProjectAs="app-item">
            <app-item size="sm" *appLet="$candidate(user) as candidate">
                <ng-container data-selector="header">Phone Number</ng-container>
                {{ candidate.phoneNumber }}
            </app-item>
        </ng-container>
        <app-item size="sm">
            <ng-container data-selector="header">First Name</ng-container>
            {{ user.firstName }}
        </app-item>
        <app-item size="sm">
            <ng-container data-selector="header">Last Name</ng-container>
            {{ user.lastName }}
        </app-item>
        <app-item size="sm">
            <ng-container data-selector="header">Preferred Name</ng-container>
            {{ user.preferredName || 'N/A' }}
        </app-item>
        <ng-container *ngIf="user.kind === userKindEnum.CANDIDATE" ngProjectAs="app-item">
            <ng-container *appLet="$candidate(user) as candidate">
                <app-item size="sm">
                    <ng-container data-selector="header">Rating Skill</ng-container>
                    {{ candidate.ratingSkill }}
                </app-item>
                <app-item size="sm">
                    <ng-container data-selector="header">Job Status</ng-container>
                    {{ candidate.jobStatus }}
                </app-item>
                <app-item size="sm">
                    <ng-container data-selector="header">Has CV?</ng-container>
                    {{ candidate.hasCV }}
                </app-item>
                <app-item size="sm">
                    <ng-container data-selector="header">Has video?</ng-container>
                    {{ candidate.hasVideo }}
                </app-item>
            </ng-container>
        </ng-container>
    </app-description-list>
</div>

<div class="absolute top-3 left-3 text-gray-800 dark:text-white">
    <span *ngIf="user.state !== userStateEnum.ACTIVE" class="text-sm font-bold drop-shadow-lg">
        {{ user.state | userStateLabel | uppercase }}
    </span>
</div>

<div class="flex gap-2 absolute top-2 right-2 text-gray-800 dark:text-white">
    <button (click)="onToggleMode()">
        <fa-icon [icon]="faEye" class="text-lg drop-shadow-md"></fa-icon>
    </button>
    <div class="dropdown dropdown-end">
        <label tabindex="0" class="text-lg drop-shadow-md cursor-pointer px-2">
            <fa-icon [icon]="faEllipsisV" class="text-lg drop-shadow-md"></fa-icon>
        </label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li>
                <a
                    [routerLink]="['.', user.id, 'edit']"
                    [ngClass]="{ 'btn-disabled opacity-50 cursor-not-allowed': disableDeleteAction }"
                >
                    Edit
                </a>
            </li>
            <li>
                <button
                    [ngClass]="{ 'btn-disabled opacity-50 cursor-not-allowed': disableDeleteAction }"
                    [disabled]="disableDeleteAction"
                    (click)="deleteConfirmation.show()"
                >
                    Delete
                </button>
            </li>
        </ul>
    </div>
</div>

<dialog class="modal" #deleteConfirmation tabindex="0" (keyup.escape)="deleteConfirmation.close()">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Are you sure?</h3>
        <p class="py-4">If you delete {{ user.email }} there is no way to revert the action.</p>
        <div class="modal-action">
            <form method="dialog" class="flex gap-2">
                <button type="button" class="btn btn-primary basis-16" (click)="onDelete(); deleteConfirmation.close()">
                    Yes
                </button>
                <button class="btn basis-16">No</button>
            </form>
        </div>
    </div>
</dialog>
